# ==========================
#  Dependencias
# ==========================
node_modules/
npm-debug.log
yarn-error.log

# ==========================
#  Variables de entorno
# ==========================
.env
.env.local
.env.development
.env.production

# ==========================
#  Archivos temporales / compilados
# ==========================
dist/
build/
tmp/
coverage/
.DS_Store
Thumbs.db

# ==========================
#  Configuración del editor
# ==========================
.vscode/
.idea/
*.swp

# ==========================
#  Configuración de despliegue
# ==========================
.vercel
